body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0e68c;
}

.container {
    border: 5px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.btn-success {
    background-color: #ffb6c1;
    /* Pastel Pink */
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
}

.btn-success:hover {
    background-color: #ff69b4;
    /* Darker Pink on Hover */
    color: black;
}

a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}